test #test/train/read
0 #firstFrame
30 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/EpflDataset/castle_dense_large/ #pathBase 
 #folderNames
images/ # imagePrefix = "";
.png # imagePostfix = "";
seg/test/ # segmentationPrefix = "";
.png # segmentationPostfix = "";
testCastle/testCastle4x4- # outputName = "";
4 #digits
0 # withGT = true;