train #test/train/read
0 #firstFrame
30 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/EpflDataset/castle_dense_large/ #pathBase 
 #folderNames
images/ # imagePrefix = "";
.png # imagePostfix = "";
seg/train/ # segmentationPrefix = "";
.png # segmentationPostfix = "";
trainCastle # outputName = "";
4 #digits
1 # withGT = true;