test #test/train/read
0 #firstFrame
62 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/dagstuhl/ #pathBase 
 #folderNames
images/ # imagePrefix = "";
.jpg # imagePostfix = "";
seg/test/ # segmentationPrefix = "";
.png # segmentationPostfix = "";
testDagsthul/testDagsthul4x4- # outputName = "";
4 #digits
0 # withGT = true;