test #test/train/read
2 #firstFrame
50 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/tum/scan15/ #pathBase 
 #folderNames
images/rect_ # imagePrefix = "";
_max.png # imagePostfix = "";
seg/test/ # segmentationPrefix = "";
.png # segmentationPostfix = "";
testDTU/testDTU3x3- # outputName = "";
3 #digits
0 # withGT = true;