test #test/train/read
0 #firstFrame
11 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/EpflDataset/fountain_dense/ #pathBase 
 #folderNames
images/ # imagePrefix = "";
.png # imagePostfix = "";
seg/test/ # segmentationPrefix = "";
.png # segmentationPostfix = "";
testFountain/testFountain4x4- # outputName = "";
4 #digits
1 # withGT = true;