train #test/train/read
0 #firstFrame
148 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/scannet/scene0000_00/ #pathBase 
 #folderNames
images/colorSmall/ # imagePrefix = "";
.jpg # imagePostfix = "";
instance-filt/ # segmentationPrefix = "";
.png # segmentationPostfix = "";
trainScanNet # outputName = "";
1 #digits
1 # withGT = true;