test #test/train/read
218 #firstFrame
221 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/south-building_small/ #pathBase 
 #folderNames
images/P118 # imagePrefix = "";
.JPG # imagePostfix = "";
seg/test/P118 # segmentationPrefix = "";
.png # segmentationPostfix = "";
testSouthbuilding/trainSouthbuilding4x4- # outputName = "";
4 #digits
0 # withGT = true;