train #test/train/read
119 #firstFrame
221 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/south-building_small/ #pathBase 
 #folderNames
images/P118 # imagePrefix = "";
.JPG # imagePostfix = "";
seg/train/P118 # segmentationPrefix = "";
.png # segmentationPostfix = "";
trainSouthbuilding # outputName = "";
4 #digits
1 # withGT = true;