test #test/train/read
20 #firstFrame
22 #lastFrame
4 #window
/home/andrea/Desktop/Datasets/varcity/varcity3dchallenge/data/ruemonge428/ #pathBase 
 #folderNames
image/numberedOrig/ # imagePrefix = "";
.jpg # imagePostfix = "";
label/numberedOrig/ # segmentationPrefix = "";
.png # segmentationPostfix = "";
/home/andrea/workspaceC/imagesToMultiboost/testVarcity/testVarcity4x4- # outputName = "";
4 #digits
1 # withGT = true;